.ctg-debit {
    background-color: #026425;
}
.ctg-credit {
    background-color: darkred;
}

div.card {
    cursor: pointer;
    width: 15rem;
}

svg {
    height: 350px;
    width: 550px;
}
foreignObject {
    height: 350px;
    width: 550px;
}

.led-box {
    height: 100px;
    width: 100px;
    margin: 10px 0;
    display: inline-block;
}

.led-box p {
    font-size: 12px;
    text-align: center;
    margin: 1em;
}
.led-blink {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    -webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;
    -ms-animation: blinkRed 0.5s infinite;
    -o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
.textContainer {
    text-align: right;
}

input.color-toggle:checked + button.led-blink {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: #00ff16;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #024223 0 -1px 9px, rgba(2, 122, 52, 0.5) 0 2px 12px;
    -webkit-animation: blinkGreen 0.5s infinite;
    -moz-animation: blinkGreen 0.5s infinite;
    -ms-animation: blinkGreen 0.5s infinite;
    -o-animation: blinkGreen 0.5s infinite;
    animation: blinkGreen 0.5s infinite;
}

@-webkit-keyframes blinkGreen {
    from { background-color: #00ff16; }
    50% { background-color: #029b0b; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #024223 0 -1px 9px, rgba(2, 122, 52, 0.5) 0 2px 12px;}
    to { background-color: #00ff16; }
}
@-moz-keyframes blinkGreen {
    from { background-color: #00ff16; }
    50% { background-color: #029b0b; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #024223 0 -1px 9px, rgba(2, 122, 52, 0.5) 0 2px 12px;}
    to { background-color: #00ff16; }
}
@-ms-keyframes blinkGreen {
    from { background-color: #00ff16; }
    50% { background-color: #029b0b; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #024223 0 -1px 9px, rgba(2, 122, 52, 0.5) 0 2px 12px;}
    to { background-color: #00ff16; }
}
@-o-keyframes blinkGreen {
    from { background-color: #00ff16; }
    50% { background-color: #029b0b; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #024223 0 -1px 9px, rgba(2, 122, 52, 0.5) 0 2px 12px;}
    to { background-color: #00ff16; }
}
@keyframes blinkGreen {
    from { background-color: #00ff16; }
    50% { background-color: #029b0b; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #024223 0 -1px 9px, rgba(2, 122, 52, 0.5) 0 2px 12px;}
    to { background-color: #00ff16; }
}
